<div class="container">

  <div [hidden]="submitted">
    <h1>Create an account</h1>
      <div class="form-group">
      <label for="owner">Choose your owner</label>
      <select [(ngModel)]="model.owner" class="form-control" id="chosenAccountType" required>
        <option *ngFor="let owner of ownerList" [ngValue]="owner">{{owner.name}} {{owner.firstName}}</option>
      </select>
  </div>

  <div class="form-group">
      <label for="accountType">Choose your account type</label>
      <select [(ngModel)]="model.accountType" class="form-control" id="chosenAccountType" required>
        <option *ngFor="let accountType of accountTypeList" [ngValue]="accountType">{{accountType.type}}</option>
      </select>
  </div>

  <div class="form-group">
      <label for="countryCode">Choose your country code</label>
      <select [(ngModel)]="model.countryCode" class="form-control" id="chosenCountryCode" required>
        <option *ngFor="let countryCode of countryCodeList" [ngValue]="countryCode">{{countryCode.code}}</option>
      </select>
  </div>

    <div class="form-group">
      <label for="bank">Choose your bank</label>
      <select [(ngModel)]="model.bank" class="form-control" id="chosenBank" required>
        <option *ngFor="let bank of bankList" [ngValue]="bank">{{bank.name}}</option>
      </select>
  </div>

    <div class="form-group">
      <label for="agency">Choose your agency</label>
      <select [(ngModel)]="model.agency" class="form-control" id="chosenAgency" required>
        <option *ngFor="let agency of agencyList" [ngValue]="agency">{{agency.name}}</option>
      </select>
  </div>
    <form (ngSubmit)="onSubmit()" #createaccountForm="ngForm">
      <div class="form-group">
        <label for="description">Account description</label>
        <input type="hidden" class="form-control" id="description"
               required
               [(ngModel)]="model.description" name="description"
               #name="ngModel">
        <input type="text" class="form-control" id="description"
               required
               [(ngModel)]="model.description" name="description"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Account description is required
        </div>
        <label for="number">Account number</label>
        <input type="text" class="form-control" id="number"
               required
               [(ngModel)]="model.number" name="number"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Account number is required
        </div>
          <label for="initialBalance">Initial balance</label>
        <input type="number" class="form-control" id="initialBalance"
               required
               [(ngModel)]="model.initialBalance" name="initialBalance"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          The initial balance is required
        </div>
        <label for="timestamp">Creation date</label>
        <input type="date" class="form-control" id="timestamp"
               required
               [(ngModel)]="timestamp" name="timestamp"
               #name="ngModel">
        <div> {{model.creationDate }} </div>

        <div> {{timestamp}} </div>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          The initial balance is required
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!createaccountForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newAccount(); createaccountForm.reset()">New Account</button>
    </form>
  </div>

<div [hidden]="!notNewAccount"><h1>Sorry this account already exists!!</h1></div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">City name</div>
      <div class="col-xs-9  pull-left">{{ model.city }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Zip code</div>
      <div class="col-xs-9 pull-left">{{ model.zip }}</div>
    </div>
    <br>
    <button type="button" class="btn btn-default" (click)="newAccount(); createaccountForm.reset()">New Account</button>
    <button class="btn btn-primary" (click)="goToTransactionList()">OK !</button>
  </div>

</div>
