<div class="col-lg-9 well">
  <article>
    <header>Personnal informations</header>
    <form>
      Name : <label>My name</label><br/>
      Firstname : <label>My firstname</label><br/>
      Address : <label>5 rue truc Résidence machin appt 5</label><br/>
      Zipcode / City : <label>35408 Bidule</label><br/>
      E-mail : <label>firstname.name@mailbox.lg</label><br/>
    </form>
    <!--<a href="userInfos.html" title ="create">Modify your personnal informations</a>-->
  </article>
  <article>
    <header>Informations of your account(s)</header>
    <table class="table-responsive">
      <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Bank</td>
        <td>Balance</td>
      </tr>
      <tr>
        <td>Mon compte à moi</td>
        <td>Current account</td>
        <td>B.A.N.K.</td>
        <td>500.24€</td>
      </tr>
    </table>
    <!--<a href="createAccount.jsp" title ="create">Add an account</a>-->
  </article>
</div>
