<div class="container">
  <div>
    <h1>List of your transactions</h1>

    <table>
      <tr>
        <td><h3>Description</h3></td>
        <td><h3>Type</h3></td>
        <td><h3>Category</h3></td>
        <td><h3>Sub-Category</h3></td>
        <td><h3>Date</h3></td>
        <td><h3>Value</h3></td>
      </tr>
    <tr *ngFor="let transaction of transactionList">
        <td>{{transaction.description}}</td>
        <td>{{transaction?.transactionType?.description}}</td>
        <td *ngIf="transaction?.category?.parentCategory?.description.length >0 else elseBlock">{{transaction?.category?.parentCategory?.description}} </td>
        <td *ngIf="transaction?.category?.description.length >0 else elseBlock">{{transaction?.category?.description}} </td>
        <ng-template #elseBlock><td></td></ng-template>
        <td>{{transaction.date}}</td>
        <td *ngIf="transaction.value >=0 else elseValue"><p style="color:green;">{{transaction.value}}</p></td>
        <ng-template #elseValue><td><p style="color:red;">{{transaction.value}}</p></td></ng-template>
    </tr>

    </table>

  </div>

<h1><label for="initialBalance"><br>Initial Balance: </label> {{accountId.initialBalance}} €<br></h1>
<h1 *ngIf="balanceAccountId.length !=0 else elseBalance"><label for="balance"><br>Balance: </label>{{balanceAccountId}}</h1>
<ng-template #elseBalance><h1><label for="balance"><br>Balance: </label> {{accountId.initialBalance}} €</h1></ng-template>
</div>


<!--<div class="form-group">
      <label for="bank">Choose your bank</label>
      <select [(ngModel)]="model.bank" class="form-control" id="chosenBank" required>
        <option *ngFor="let bank of bankList" [ngValue]="bank">{{bank.name}}</option>
      </select>
  </div>

  <div class="form-group">
      <label for="account">Choose your account</label>
      <select [(ngModel)]="model.account" class="form-control" id="chosenAccount" required>
        <option *ngFor="let account of accountList" [ngValue]="account">{{account.description}}</option>
      </select>
  </div>-->
