<div class="container">
    <div>
        <h1>Get your transactions</h1>
        <div class="form-group">
            <label for="owner">Choose the owner</label>
            <select [(ngModel)]="model" class="form-control" id="chosenOwner" required>
                <option *ngFor="let owner of ownerList" [ngValue]="owner">{{owner.name}} </option>
            </select>
        </div>

        <!--<form (ngsubmit)=accountSelection()>
            <div class="form-group">
                <label for="account">Choose your account</label>
                <select  [(ngModel)]="account" class="form-control" id="chosenAccountType" required >
                    <option *ngFor="let account of accountList" [ngValue]="account" >{{account.description}} </option>
                </select>
            </div>
        </form>-->
    </div>
</div>